.search-result {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-result input[type="checkbox"] {
  margin-right: 15px;
}

.search-result label {
  margin-right: 10px;
}

.search-result button {
  margin-left: auto;
}

.search-result:hover {
  background-color: #efefef;
}

.completed {
  text-decoration: line-through;
}
